.signupform {
    width: 350px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    border-radius: 20px;
}

#modal-content {
    border-radius: 20px;
}

#signupspan {
    border-bottom: 5px;
    border-color: #999;
}

#signupinput {

    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    border: 1px solid #999;
    outline: none;
}

input::placeholder {
    font-weight: bold;
    opacity: .5;
    color: rgb(159, 157, 157);

}

#signupbutton {
    /* background-color: rgba(225, 23, 104, 0.98); */
    background-image: radial-gradient(circle at center center, #ff385c 0, #e61e4d 0, #e31c5f 40%, #d70466 57.5%, #bd1e59 75%, #bd1e59 100%);
    color: white;
    width: 302px;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;

}

#signupxmark {
    position: absolute;
    top: 10px;
    left: 22px;
    cursor: pointer;
}
