input[type="radio"] {
    display: none;
}

#rating {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 200ms;
}

.star {
    cursor: pointer;
    transition: color 200ms;
}

#stardiv {
    display: flex;
    flex-direction: column;
}

#reviewinput {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    border: 1px solid #999;
    outline: none;
    resize: none;
    cursor: pointer;
    height: 40px;
}

#reviewformdiv {
    width: 350px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    border-radius: 20px;
}

#reviewbutton {
    display: flex;
    justify-content: center;
    /* background-color: rgba(225, 23, 104, 0.98); */
    background-image: radial-gradient(circle at center center, #ff385c 0, #e61e4d 0, #e31c5f 40%, #d70466 57.5%, #bd1e59 75%, #bd1e59 100%);
    color: white;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    width: 302px;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid #999;
    margin: 26px;
}



#starmaindiv {
    display: flex;
    flex-direction: row;
}

.reviewstardiv {
    display: flex;
    flex-direction: column;
}

.ratingandreview {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.spotdetailsbottom {
    display: flex;
    width: 650px;
    flex-direction: column;
    align-items: start;
    padding-top: 40px;
    margin-bottom: 40px;
}

.spottop {

    border-top: .5px solid rgb(153, 152, 152);
    width: 650px;
}


.spotbottom {
    border-bottom: .5px solid rgb(153, 152, 152);
    width: 650px;
}

#checkinicon {
    width: 30px;
}

.spotaircover {
    border-bottom: .5px solid rgb(153, 152, 152);
    width: 650px;
}

.reviewbuttonanddelete {
    display: flex;
    flex-direction: column;
}

.reviewbutton {
    display: flex;
    justify-content: start;
    padding-top: 5px;

}
