.singleSpotTop4divs {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    box-sizing: border-box;
}

#singlespotmainpic {
    margin-right: 0.5%;
}

.singleSpotImagediv {
    /* display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fill, 2fr); */
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 430px;
    border-radius: 15px;
    overflow: hidden;
}

#singleSpotnamediv {
    display: flex;
    align-items: flex-end;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Fraunces', serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

#foursmallpics {
    display: flex;
    flex-wrap: wrap;
    width: 49.5%;
    height: 49.5%;
}

#onespotdiv {
    border-color: solid 50px black;
}


.picturediv {
    display: flex;
    flex-direction: row;

}

#mapdiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    gap: 1%;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Fraunces', serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

#namereviewdiv {
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Fraunces', serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Montserrat', sans-serif;

}

#reviewcreatediv {
    width: 50%;
    display: flex;

    justify-content: space-between;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Fraunces', serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

#onespotmaindiv {
    /* border: 1px solid red; */
    padding-top: 100px;
    width: 1200px;
    height: 100vh;
    box-sizing: border-box;
}

.singlespot-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
