/* TODO Add site wide styles */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
}

@font-face {
    font-family: "Light";
    src: local("Poppins-Thin"),
        url("./Fonts/Poppins-Light.ttf") format("truetype");
}

* {
    font-family: Light;
}
