/* .priceAndStardiv {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    align-items: center;
    height: 100px;
    padding: 0 1rem 0 1rem;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
} */
.spotsMaindiv {
    display: grid;
    position: relative;
    grid-gap: 2.2rem;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Fraunces', serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

#imageNav {

    height: 90%;
    width: 100%;
}

.priceAndStardiv {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    padding-right: 7px;
    padding-top: 2px;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Fraunces', serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

#spotimage {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
    object-position: center center;
}

#cityCountryPrice {
    display: flex;
    padding-left: 5px;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Fraunces', serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Montserrat', sans-serif;

}

.spotsSeconddiv {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 375px;
    width: 100%;
    max-width: 500px;
    outline: none;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Fraunces', serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.whiteSpacediv {
    display: grid;
    position: relative;
    top: 105px;
    width: 90%;
    grid-template-rows: repeat(auto-fill, minmax(396px, 1fr));
    /* padding-left: 75px; */
    /* padding-right: 75px; */

}

.wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

/* @media (max-width: 600px) {} */
