.navmaindiv {
    display: flex;
    justify-content: space-between;
    position: fixed;
    border-bottom: solid 1px rgb(225, 223, 223);
    align-items: center;
    height: 80px;
    padding: 0 8rem 0 8rem;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    background-color: white;
}

#navLogo {
    height: 68px;
    box-sizing: border-box;
}

#navloginsignup {
    display: flex;
    flex-direction: row;
}

.navhost {
    margin: 20px;
    position: relative;
    top: 25px;
}

#loginmessage {
    padding-top: 5px;
    padding-bottom: 5px;
}

#leaveanddeletereview {
    text-decoration: underline;
    cursor: pointer;
    width: fit-content;
    padding-top: 2px;
    padding-bottom: 2px;
}

#leaveanddeletereview:hover {
    background-color: rgb(234, 237, 240);
}
