.navmaindiv {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px rgb(225, 223, 223);
    align-items: center;
    height: 80px;
    padding: 0 8rem 0 8rem;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    background-color: white;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Fraunces', serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

#navLogo {
    height: 68px;
    box-sizing: border-box;
}

#navloginsignup {
    display: flex;
    flex-direction: row;
}

.navhost {
    margin: 20px;
    position: relative;
    top: 25px;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Fraunces', serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Montserrat', sans-serif;

}
