#loginsignupbutton {
    display: flex;
    justify-content: center;
    /* background-color: rgba(225, 23, 104, 0.98); */
    background-image: radial-gradient(circle at center center, #ff385c 0, #e61e4d 0, #e31c5f 40%, #d70466 57.5%, #bd1e59 75%, #bd1e59 100%);
    color: white;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    width: 302px;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid #999;
    margin: 26px;

}
